### ***Tuples***
- immutable(cannot modify)
- not possible for overriding

In [3]:
t1=(1,2,'a','b')
print(t1)
print(t1[0])

(1, 2, 'a', 'b')
1

In [10]:
t=()
print(t)
print(type(t))
t1=(1)
print(t1)
print(type(t1))

()
<class 'tuple'>
1
<class 'int'>

In [16]:
t1=(1,2,2,3,5)
t2=(3,4)

print(t1.index(5)) #pass a value
print(t2.count(5)) #pass a value
print(t1.count(2))

4
0
2

In [27]:
#sorted() function
t1=(1,3,4,2,0)
print("before sorted",type(t1))
sorted(t1)  #returns output as list

print(l)
print("after sorted",type(l))

before sorted <class 'tuple'>
[0, 1, 2, 3, 4]
after sorted <class 'list'>

In [29]:
t3=(19,'python',True,99.99)
print(t3)
print(t3[0])
print(t3[2:])

(19, 'python', True, 99.99)
19
(True, 99.99)

In [31]:
t=(3,4,(34,67))
print(t[2])
print(t[2][0])

(34, 67)
34

### ***Dictionaries***

In [3]:
d={'maths':99,'eng':88,'phy':95}
print(d['maths'])

d={1:99,2:98,3:89}
print(d[2])

99
98

In [4]:
#accessing keys using for loop
for i in d:
    print(d[i],end=' ')

99 98 89

In [5]:
#to calc sum of values
s=0
for i in d:
    s+=d[i]
print(s)

print("Using func sum = ", sum(d.values()))

286
Using func sum =  286

In [8]:
#to access keys
print(d.keys())

#to access values
print(d.values())

#to access key-value pairs
print(d.items())

dict_keys([1, 2, 3])
dict_values([99, 98, 89])
dict_items([(1, 99), (2, 98), (3, 89)])

In [19]:
d.update({'total':sum(d.values())})
print(d)

{1: 99, 2: 98, 3: 89, 'total': 286}

In [20]:
d.pop('total')
print(d)

{1: 99, 2: 98, 3: 89}

In [22]:
std_marks={'JK':[99,95,97],'Nano':[100,50,85],'Tata':[99,20,75]}
print(std_marks)

{'JK': [99, 95, 97], 'Nano': [100, 50, 85], 'Tata': [99, 20, 75]}